/* ==========================================================================
    Object Status
========================================================================== */


//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.object-status-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grayscale-subtitles-and-labels-color);
}



//== Variations
//-------------------------------------------------------------------------------------------------------------------//