.right-arrow-btn {
    border: none;
    background: none;

    &:hover,
    &:focus {
        background: none;
    }
}

.sap-tile-image {
    img {
        height: 80px;
        float: right;
    }
}

.arrivals-container {
    display: flex;
    justify-content: space-between;
}

.no-margin {
    margin: 0;
}

.groupbox-list {
    ul {
        li {
            padding: 0;
            border: none;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.groupbox-wrapper {
    margin-bottom: 5px;
    &.mx-groupbox {
        >.mx-groupbox-header {
            font-size: 20px;
            border-bottom-width: 1px;

            &[aria-expanded="true"] {
                background-color: #fff;
            }

            &:focus {
                border-color: var(--semantic-foreground-information-color);
            }
        }

        >.mx-groupbox-body {
            background-color: var(--grayscale-column-header-background-color);
            padding: 15px;
        }
    }
}

.sap-inbox {
    .sap-mainheader {
        display: none;
    }

    h4, h5{
        margin: 0;        
    }

    .piclist{
        
        display: flex;

        
        ul {
            width: 100%;
            
            li {
                display: inline-flex;
                background: transparent;
                border: none;
                padding: 0;
                width: 24%;
                margin-right: 1%;

                .mx-dataview, 
                .mx-dataview-content, 
                .po-image-container{
                    width: 100%;
                }                     
    
                &:last-child {
                    border: none;
                }

                .picitem {
                    width: 100%;
                    object-fit: cover;
                    height: 250px;              
                }
            }
        }
    }

    .sap-list1 {
        padding: 0 15px;

        .mx-listview-searchbar {
            margin-bottom: 10px !important;
        }

        li {
            cursor: pointer;

            .breakline {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
    }
}

.mx-tabcontainer {
    height: auto;
}

.messages-container {
    ul {
        li {
            border-width: 0;
            padding: 15px 0;
            border-bottom-width: 1px;

            &:last-child {
                border-width: 0;
            }

            &:focus {
                background-color: transparent;
            }
        }
    }
}

.attachment-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
    &:last-child {
        border-width: 0;
    }

    .attachment-info-container {
        display: flex;
        align-items: center;
        
        img {
            width: 30px;
        }
        p {
            margin: 0;
        }
    }
}

.speech-bubble-wrapper {
    display: inline-flex;
    width: 100%;

    .speech-bubble {
        background-color: $gray-lighter;
        padding: 15px;
        border-radius: 5px;
        min-width: 50%;
        border-top-left-radius: 0;
        
        .speech-bubble-inner {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
}

.btn-danger {
    &.btn-blocked {
        background-color: $brand-danger;
        color: #fff;
    }
}

.final-outcome {
    background: $brand-info;
    border-radius: 16px;
    padding: 4px 8px 4px 8px;
    color:white;
}