/* ==========================================================================
Shell Bar

========================================================================== */
.sapFShellBar {
    background: var(--primary1-color);
    box-shadow: inset 0 -0.0625rem 0 0 var(--primary1-color);
    padding: 5px 15px !important;

    .sample_text_area h6 {
         color: var(--shell-bar-text-color);
      
        

    }

    .navbar-default {
        background-color: var(--primary1-color);
        font-weight: 600;
        .dropdown-menu{
            background: var(--grayscale-application-content-background-color);
        }
    }

    .navbar {
        min-height: 20px;
    }
}

.shell-bar-menu-item-section {

    .mx-navbar ul.nav>li.mx-navbar-item>a,
    .mx-navbar ul.nav>li.mx-navbar-item>a .caret {
         color: var(--shell-bar-text-color) !important;
       /* border-top-color: var(--grayscale-header-card-container-background-color) !important;
        border-bottom-color: var(--grayscale-header-card-container-background-color) !important;*/

    }
}

.shell-menu-text-section {
    &>span {
        padding: 10px;
         color: var(--shell-bar-text-color);
        text-align: center;
    }
}

.shell-menu-right-section {
    display: flex;
    align-items: center;

    .btn-primary {
        background-color: var(--accent6-color);
         color: var(--shell-bar-text-color) !important;
        border-radius: 15px;
    }

    .count-container .top_right {
        right: -5px;
    }

    .btn {
         color: var(--shell-bar-text-color);
        border-color:  var(--primary1-color);
        background-color: var(--primary1-color);
    }

    .btn-default {
         color: var(--shell-bar-text-color);
        border-color: var(--primary1-color);
        background-color: var(--primary1-color);
    }

    &>.notification-icon-section {
        text-align: right;

        .btn {
             color: var(--shell-bar-text-color);
            border-color: var(--primary1-color);
            background-color: var(--primary1-color);
        }

        .btn-default {
             color: var(--shell-bar-text-color);
            border-color: var(--primary1-color);
            background-color: var(--primary1-color);
        }

    }
}

.mobile-left-menu-section {
    .navbar-nav {
        position: fixed;
        display: block;
        width: 25%;
    }
}

.mobile-right-menu-section {
    .navbar-nav {
        position: fixed;
        display: block;
        width: 25%;
    }

    .mx-navbar-item.open .dropdown-menu {
         color: var(--shell-bar-text-color);

        li.mx-navbar-subitem>a {
             color: var(--shell-bar-text-color);
        }
    }

    .caret {
        display: none;
    }
}

@media only screen and (max-width: 1210px) and (min-width: 800px) {

    .shell-menu-text-section>span {
        white-space: pre;
    }

    .shell-bar-menu-item-section {
        .mx-navbar ul.nav>li.mx-navbar-item>a {
            padding: 0px 10px;
             color: var(--shell-bar-text-color) !important;

        }
    }
}


@media only screen and (max-width: 760px) and (min-width: 360px) {
    .mobile-right-menu-section {
        .navbar-nav {
            position: fixed;
            display: block;
            width: 54px;
        }
    }

    .mobile-left-menu-section {
        .navbar-nav {
            position: fixed;
            display: block;
            width: 54px;
        }
    }

    .shell-bar-logo {
        position: fixed;
    }
}

.sapFShellBar{
    .navbar{
        ul.navbar-nav li > a:hover,   ul.navbar-nav li > a:focus  {
            background: var(--primary1-color) !important;
            outline: none !important;

        }
         ul.nav > .mx-navbar-item.active a{
            background: var(--shell-bar-hover-color) !important;
        }
        ul.nav > li.mx-navbar-item >a {
            min-height: 35px;
            padding: 5px 15px;
        }
        ul.nav > li.mx-navbar-item > a .caret{
            border-top-color: var(--shell-bar-text-color)!important;
            border-bottom-color: var(--shell-bar-text-color) !important;
        }
        ul.nav > .mx-navbar-item.open .dropdown-menu > li.mx-navbar-subitem.active a{
            background: var(--shell-bar-hover-color) !important;
             color: var(--shell-bar-text-color) !important;

        }
        ul.nav > .mx-navbar-item.open > a{
            background: var(--shell-bar-hover-color) !important;
             color: var(--shell-bar-text-color) !important;
        }
    }

    .navbar-default .dropdown-menu{
        background: var(--shell-bar-hover-color) !important;
         color: var(--shell-bar-text-color) !important;
         li > a{
             color: var(--shell-bar-text-color) !important;
        }
    }
}